{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Welcome to the Open Nutrition Tracker!</h1>
    <p class="lead">Open Nutrition Tracker helps you easily manage your daily nutritional intake.</p>
    <p class="lead">
        With Open Nutrition Tracker, you can:
        <ul class="custom-bullet">
            <li>Calculate nutritional values for a wide range of meals.</li>
            <li>Customize your own meals database by adding new entries.</li>
            <li>Track and review your nutrition history over time.</li>
        </ul>
    </p>
</div>
{% endblock %}