{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Welcome to the Nutrition Tracker!</h1>
    <p class="lead">This is a comprehensive tool designed to help you keep track of your daily nutritional intake and manage your meals effectively.</p>
    <p class="lead">
        Currently, our platform is in active development, but you already can add your custom meals and calculate your total daily intake. We are working hard to
        bring you many new features that will help you maintain a healthy
        lifestyle by tracking your nutrition with ease.
    </p>
</div>
{% endblock %}




