{% extends "base.html" %}
{% block title %}Meals | Nutrition Tracker{% endblock %}

{% block content %}
<h2>Meal Management</h2>

<div class="form-group">
    <label for="mealSearch">Search Meals</label>
    <input type="text" id="mealSearch" class="form-control meals-management-input" placeholder="Search your meals...">
</div>
<ul id="mealsList" class="list-group"></ul>

<h3 class="mt-5">Add Custom Meal</h3>
<div class="form-group"><input id="mealName" class="form-control meals-management-input" placeholder="Meal name"></div>
<div class="form-group"><input id="calories" type="number" class="form-control meals-management-input" placeholder="Calories per 100g"></div>
<div class="form-group"><input id="carbs" type="number" class="form-control meals-management-input" placeholder="Carbs per 100g"></div>
<div class="form-group"><input id="proteins" type="number" class="form-control meals-management-input" placeholder="Proteins per 100g"></div>
<div class="form-group"><input id="fats" type="number" class="form-control meals-management-input" placeholder="Fats per 100g"></div>
<button id="addMealButton" class="btn btn-primary">Add Meal</button>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/meals.js') }}"></script>
{% endblock %}
